#root {}

.signin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4.375rem;
  padding-left: 5.625rem;

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;

    top: 0;
    right: 0;

    border-radius: 2.5rem;
    border: 0.625rem solid #fff;
    box-sizing: border-box;

    background: url('background-image.png');
    background-size: cover;
    background-position: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;

    #username {
      width: 26.875rem;

      font-size: 1rem;
      cursor: text;

      padding: 0.9375rem;
      border: 0.0625rem solid #a2a2a2;
      border-radius: 0.3125rem;

      &::placeholder {
        font-family: Inter;
        font-size: 1rem;
      }
    }

    #password {
      width: 26.875rem;

      font-size: 1rem;
      cursor: text;

      padding: 0.9375rem;
      border: 0.0625rem solid #a2a2a2;
      border-radius: 0.3125rem;

      &::placeholder {
        font-family: Inter;
        font-size: 1rem;
      }
    }


  }

  &__bottom {
    max-width: 28.125rem;
    width: 100%;

    display: flex;
    justify-content: space-between;


    label {
      display: flex;
      align-items: center;
      gap: 0.4375rem;
      cursor: pointer;
      user-select: none;

      #remember {
        width: 1.25rem;
        height: 1.25rem;

        border-radius: 0.25rem;
        text-align: center;

        background-color: #a2a2a2;
        background-size: cover;

        &:checked {
          background-color: #7837FF;
          background-image: url('./checkmark.svg');
        }

        &:hover {
          background-color: #b1b1b1;

          &:checked {
            background-color: #8e57fa;
            background-image: url('./checkmark.svg');
          }
        }
      }
    }
  }

  &__forgot {
    font-family: Roboto;
    color: #a2a2a2;
  }

  &__button {
    font-family: Roboto;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #7837FF;

    padding: 0.625rem 1.875rem;
    margin-top: 3.125rem;

    &:hover {}
  }

  &__signup {
    font-family: Roboto;
    font-weight: 400;
    color: #777;

    a {
      color: #7837FF;
    }
  }
}

.logo {
  position: relative;

  span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 0.9735rem;

    padding-left: 1.0625rem;
  }

  &::before {
    position: absolute;
    height: 70%;
    width: 0.75rem;
    content: '';
    top: 0.25rem;

    border-radius: 0.9735rem 0.9735rem 0rem 0rem;

    background-color: #7837FF;
  }
}

.text {

  h1 {
    max-width: 25.625rem;

    font-family: Roboto;
    font-size: 3.75rem;
    line-height: 1.1;
  }

  h2 {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 300;
    color: #777;
  }
}

// Media Queries


@media (max-width: 1200px) {
  .signin {
    padding-left: 3rem;
  }
}

@media (max-width: 1030px) {
  .signin {
    padding-left: 2rem;
  }
}

@media (max-width: 1030px) {
  .signin {
    padding-left: 2rem;
  }
}

@media (min-width: 1441px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1921px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 23px;
  }
}