#root {}

.signin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  padding-left: 90px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    #username {
      width: 430px;

      padding: 15px;
      border: 1px solid #a2a2a2;
      border-radius: 5px;

      &::placeholder {
        font-family: Inter;
      }
    }

    #password {
      width: 430px;

      padding: 15px;
      border: 1px solid #a2a2a2;
      border-radius: 5px;

      &::placeholder {
        font-family: Inter;
      }
    }


  }

  &__bottom {
    max-width: 450px;
    width: 100%;

    display: flex;
    justify-content: space-between;


    label {
      display: flex;
      align-items: center;
      gap: 7px;
      cursor: pointer;
      user-select: none;

      #remember {
        width: 20px;
        height: 20px;

        border-radius: 4px;
        text-align: center;

        background-color: #a2a2a2;
        background-size: cover;

        &:checked {
          background-color: #a75be6;
          background-image: url('./checkmark.svg');
        }
      }
    }
  }

  &__forgot {
    font-family: Roboto;
    color: #a2a2a2;
  }

  &__button {}
}

.logo {
  position: relative;

  span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px;

    padding-left: 17px;
  }

  &::before {
    position: absolute;
    height: 70%;
    width: 12px;
    content: '';
    top: 4px;

    border-radius: 15px 15px 0px 0px;

    background-color: #a75be6;
  }
}

.text {

  h1 {
    max-width: 410px;

    font-family: Roboto;
    font-size: 60px;
    line-height: 1.1;
  }

  h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    color: #777;
  }
}